.container
  p
    | Approval Polling (beta)
    = ' | '
    a(href='https://twitter.com/electionscience') @electionscience
    = ' | '
    a(href='https://github.com/slyedoc/approval-polling/issues?state=open') Issues
    = ' | '
    a(href='https://www.givlet.org/donate/hpWU/#direct_donate') Donate
