.container
  .row
    .col-lg-12
      h1.page-header Polls:

  .row
    .col-md-6
      .panel.panel-primary
        .panel-heading.text-center Featured Polls
        .panel-body
          .row(ng-repeat="p in $ctrl.polls | filter:{ featured: true } | limitTo:10")
            .col-md-12 {{ p.name }}
    .col-md-6
      .panel.panel-primary
        .panel-heading.text-center New Polls
        .panel-body
          .row(ng-repeat="p in $ctrl.polls | orderBy:'date':true | limitTo:10")
            .col-md-3 {{ p.date | date:'MMM d'  }}
            .col-md-9 {{ p.name }}
  .row
    .col-md-12
      form.poll-form
        .form-group
          label Add new Poll
          input.form-control(type='text', placeholder='Poll Question', ng-model='$ctrl.newPoll.name')

        .form-group( ng-repeat="o in $ctrl.newPoll.options")
          input.form-control(type='text', placeholder='Choice {{ $index }}', ng-model='o.name')
        .form-group
          button.btn.btn-primary(ng-click="$ctrl.newPoll.options.push({name: ''})") Add New Choice
        .form-group
           button.btn.btn-primary(type='submit', ng-click='$ctrl.addPoll()') Add New Poll
